<div class="container mt-5">
<h3>会員情報編集</h3>
  <div class= "row" >
    <div class= "col-3">
      <%= form_with model: @customer do |f| %>
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
    </div>
  </div>
</div>