<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class= "col-md-8">
      注文履歴一覧（管理者トップページ）
      <h1>商品一覧</h1>
      <table class= "table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
              </td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>