<div class="container mt-5">
  <div class="row justify-content-center">
    <div class= "col-md-5">
      <P><%= image_tag @item.get_image(150,150) %></P>
    </div>
    <div class="col-md-3">
      <p><%= @item.name %></p>
      <P><%= @item.introduction %></P>
      <p>¥<%= @item.price%>(税込)</p>
    </div>
  </div>
</div>
